NODE_ENV=development
PORT=
APP_BASE_URL=

AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_REDIRECT_URI=
AZURE_AUTHORITY=
AZURE_SCOPES=

SESSION_SECRET=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

SESSION_COOKIE_NAME=
SESSION_COOKIE_SECURE=