<h2><%= template.name %></h2>

<!-- ADD STEP -->
<div class="card mb-3">
    <div class="card mb-3">
		<div class="d-flex gap-2">
			<input 
				class="form-control" 
				id="newStepTitle" 
				placeholder="New Step"
			>
			<button class="btn btn-success" onclick="addStep()">+ Add Step</button>
		</div>
	</div>
</div>


<!-- STEPS LIST -->
<div id="stepsList">
    <% steps.forEach(step => { %>
        <div class="card mb-2 d-flex flex-row justify-content-between align-items-center"
             data-id="<%= step.id %>" data-inline-edit>

            <div class="d-flex align-items-center gap-2">
                <span class="handle" style="cursor:grab;">☰</span>

                <input class="form-control step-title"
                       value="<%= step.title %>">
            </div>
			<button class="btn btn-sm btn-danger"
					onclick="deleteStep(<%= step.id %>, this)">
				Delete
			</button>
        </div>
    <% }) %>
</div>


<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="/js/searchable-select.js"></script>
<script src="/js/pages/template_details.js"></script>