<h2>Templates</h2>

<button onclick="openCreateTemplateModal()">Create Template</button>


<div class="card">
    <% templates.forEach(t => { %>
        <div class="d-flex justify-content-between p-2 border-bottom">
            <a href="/templates/<%= t.id %>">
                <%= t.name %>
            </a>
        </div>
    <% }) %>
</div>

<script src="/js/pages/templates.js"></script>