:root {
    --bg: #0f172a;
    --panel: #111827;
    --card: #1f2937;
    --muted: #94a3b8;
    --text: #e5e7eb;

    --primary: #3b82f6;
    --danger: #ef4444;
    --success: #22c55e;
    --warning: #f59e0b;
}

body {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    background: #f3f4f6;
    color: #111;
}

/* Layout */
.sidebar {
    width: 250px;
    position: fixed;
    height: 100vh;
    background: var(--bg);
    color: white;
    padding: 20px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: var(--muted);
    text-decoration: none;
    border-radius: 8px;
}

.sidebar a:hover {
    background: #1e293b;
    color: white;
}

.main {
    margin-left: 270px;
    padding: 20px;
}

/* Cards */
.card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* Buttons */
.btn {
    border-radius: 8px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.btn-primary { background: var(--primary); color: white; }
.btn-success { background: var(--success); color: white; }
.btn-danger { background: var(--danger); color: white; }

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
}

/* Status pills */
.pill {
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
}

/* Modals */

.overlay-modal {
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.5);
    display:flex;
    align-items:center;
    justify-content:center;
	z-index: 9999;
}

.overlay-modal.hidden {
    display:none;
}

.overlay-modal .modal-content {
	display:flex;
	align-items:center;
    background:white;
    padding:20px;
    border-radius:8px;
	min-width:40%;
    width:400px;
	min-height:40%;
    max-height:80%;
    overflow:auto;
}

.overlay-modal .modal-group {
    display: flex;
    flex-direction: column;
	width: fit-content;
}
.overlay-modal .form-group label {
    margin-bottom: 4px;
    font-weight: 500;
}

/* Search List */
.searchable-select {
    position: relative;
    width: 250px;
}

.search-input {
    width: 100%;
    padding: 6px;
}

.search-list {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

.search-item {
    padding: 6px;
    cursor: pointer;
}

.search-item:hover {
    background: #eee;
}